@charset 'UTF-8';

.bg-dark-blue,
.bg-light-blue {
  padding: 40px;
  color: $white;

  @media (max-width: $screen-sm) {
    padding: 20px;
  }

  p {
    margin-bottom: 25px;
  }

  a:not(.btn) {
    display: inline;
    background: linear-gradient(to right, $white 0%, $white 98%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: left 90%;
    color: $white;
    text-decoration: none !important;
    padding-bottom: 4px;
  }

  .btn {
    background: transparent;
    border: 2px solid $white;
    color: $white;
    font-weight: normal;
  }
}

.bg-dark-blue {
  background: $darkblue;
}

.bg-light-blue {
  background: $lightblue;
}
