@charset "UTF-8";
.breadcrumb{
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;


	i.ehnvicon-arrow-right{
		font-size: 7px;
		color:$lightblue;
		position: relative;
		bottom: 1px;
		margin: 0 6px;
	}
	li{
		font-size: 15px;
    display: inline;


		a{
			font-size: 15px;
			color:$blue;


			i.ehnvicon{
				font-size: 14px;
				position: relative;
				top: 1px;
			}

		}
	}

	> li + li:before{
			content:"/";
	}
}
