@charset "UTF-8";
.card-duo{
  display: flex;
  @media only screen and (max-width: $screen-sm) {
    display: block;
  }
  .cell{
    display: inline-block;
    display: flex;
    float:left;
    width: 50%;
    @media only screen and (max-width: $screen-sm) {
        width: auto;
    }
    .card{
      display: block;
      margin: $grid-gutter-width/2;
    }
  }
}
