@charset "UTF-8";
.cover{
	overflow: hidden;
	position: relative;
	height: 450px;
}

.cover-container{
  .portrait-container{
    transform:translateY(-50%);
    margin-bottom: -50px;
    .placeholder {
      border-width: 3px;
      .ehnvicon {
        font-size: 100px;
        line-height: 100px;
      }
    }
  }
}
