@charset "UTF-8";
.cover{
	overflow: hidden;
	position: relative;
  height: 450px;

  img {
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
  }

  @media only screen and (max-width: $screen-md-max) {
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: $screen-xs-max) {
    img {
      width: 150%;
      margin-left: -25%;
    }
  }
}

.cover-container{
  .portrait-container{
    transform:translateY(-50%);
    margin-bottom: -50px;
    .icon-placeholder {
      border-width: 3px;
      .ehnvicon {
        font-size: 100px;
        line-height: 100px;
      }
    }
  }
}
