@charset "UTF-8";

.link-list {
    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        font-size: 0;

        &:last-child:after {
          content: '';
        }

        &:after {
          content: ',';
          font-size: 18px;
        }
      }

      li a {
        font-size: 18px;

      }
    }
}
