@charset "UTF-8";
.toggle-mobile-nav{
  position: absolute;
  top:0;
  right: 0;
  border-radius: 0;
  background: $blue;
  color:$white;
  font-size: 40px;
  line-height: 25px;
  padding: 17px 15px;
  z-index: 1000;

  &:hover, &:focus{
    background: $lightblue;
    color:$white;
  }
}

.modal {
  background: transparentize($darkblue, 0.1);

  .navbar-nav {
    margin: 0;
  }

  .modal-dialog {
    margin:0;

    .modal-content {
      background: none;
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }

    .modal-header {
      margin: 0;
      padding: 0;
      border: 0;

      .btn.toggle-mobile-nav { background: none; }
    }

    .modal-body {
      margin: 60px 15px 15px;

      ul.nav.main > li,
      ul.nav.secondary > li {
        &.active {
          > a.is-active {
            color: $lightblue;
          }
        }
      }

      ul.nav.main{
        margin-bottom: 30px;
        li{
          padding: 0;
          margin:0;
        }
      }

      ul.nav.secondary {
        text-align: left;
        li {
          padding: 0;
          margin:0;
          display: block;

          a {
            color:$white;
            padding: 0;
            margin:0 0 12px 0;
            font-size: 17px;
          }
        }
      }
    }
    .modal-footer{
      margin: 0px 15px 15px;
      padding: 15px;
      border: none;
      text-align: left;
    }
  }

}
