@charset "UTF-8";

.search-box{

  width: calc(100% - 34px);
  max-width: 340px;

  &.toggle-able{
    width: 0;
  }

	left:17px;
	height: 34px;

	top:1px;
	position: relative;
	transition:width .3s ease;
	box-sizing:border-box;
	display: inline-block;

  @media (min-width: $screen-xs-max) {
    margin-top:28px;
  }

	&.right{
		float:right;
		left:-17px;
	}

  &.white{
    &:before, &:after{
      border-color:$white;
    }

    .search-form{
      .submit{
        border-color: $white;
        color:$white;
      }

      .text{
        border-color: $white;
        color:$white;

        &:focus {
          border-color: $white;
          color:$white;
        }
      }
    }
  }

	&:before{
		content:"";
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: 1px solid $blue;
    border-right: 0;

		z-index: 58;
		width: 17px;
		height: 34px;
		position: absolute;

		top:0;
		left: -17px;
  }

	&:after{
		content:"";
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border: 1px solid $blue;
    border-left: 0;
    box-sizing: border-box;


		z-index: 58;
		width: 17px;
		height: 34px;
		position: absolute;

		top:0;
		right: -17px;
	}
	&.expanded{
    width: calc(100% - 34px);
    transition:width .5s cubic-bezier(1.000, 0.005, 0.755, 0.955);

		.input{
			width: 50px;
			transition: width 0.3s ease-out;
		}
	}

	.search-form{
		// overflow: hidden;
		position: relative;
		z-index: 60;
		width: 100%;
		height: 100%;
		background: none;


		.text{
			width: 100%;
			height: 34px;
			position: absolute;
			top:0;
			left: 0;
			border:none;
			border-top:1px solid $blue;
      border-bottom:1px solid $blue;
      border-radius: 0;
			z-index: 80;
			background: none;

			color:$blue;

			&:focus {
			   	border:none;
				border-top:1px solid $blue;
				border-bottom:1px solid $blue;

				outline: none;
			}


		}
		.submit{
			width: 32px;
			height: 32px;
			position: absolute;
			top:1px;
			z-index: 90;
			border-radius: 50%;
			border:none;
			right:-16px;
			background: none;

			color:$blue;
			background: none;
			line-height: 34px;

			font-size:13px;

			&:hover{
				color:$lightblue;
			}


			&:focus {
			   	border:none;
				outline: none;
			}
		}
	}
}
