@charset "UTF-8";

a.summary-box:hover {
  background: darken($white, 7%);
  box-shadow: 0 0 30px transparentize($black, 0.8);
}

.summary-box{
  border:1px solid #ebebeb;
  display: block;
  overflow: hidden;
  margin-bottom: $grid-gutter-width;
  background: $white;
  box-shadow: none;
  transition: background 0.3s, box-shadow 0.3s;

  .title {
    margin: 0;
  }

  time {
    font-size: 15px;
    color: lighten($black, 40%);
  }

  .content {
    font-size: 15px;
  }

  .content{
    > a{
      display: block;
      &:hover{
        figure{
          &:before{
            transform:translateY(0%);
          }
        }
        .summary-box-informations-link{
          background: $lightblue;
          color:$white;
          i.ehnvicon{
            color:$white;
          }
        }
      }

    }
  }
  figure{
    width: 100%;
    height: 0;
    padding-bottom:60%;
    overflow: hidden;
    position: relative;

    figcaption{
      position: absolute;
      bottom:0;
      font-size: 22px;
      line-height: 1.18;
      font-weight: 800;
      color:$white;
      padding: 25px;
      width: 100%;
      z-index: 10;
    }

    img{
      width: 100%;
    }
    &:before{
      content:"";
      position: absolute;
      left:0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparentize(#0078a1, 0), transparentize(#0078a1, 1));
      bottom:0;

      transform:translateY(-100%);
      transition:transform 0.3s ease-out;
      z-index:9;
      @media only screen and (max-width: $screen-xs-max) {
        display: none;
      }
    }
    &:after{
      content:"";
      position: absolute;
      left:0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparentize($darkblue, 1), transparentize($darkblue, 0));
      bottom:0;
      z-index: 9;
    }

    &.no-overlay {
      &:after,
      &:before {
        display: none;
      }
    }
  }

  p{
    display: inline-block;
    font-size:18px;
    line-height: 1.388888889;
    letter-spacing: 0.01em;
    color:#323232;
    margin:0;

    a{
      color:$blue;
      &:hover{
        color:$lightblue;
        border-bottom-color: $lightblue;
      }
    }

  }
  .ehnvicon{
    display: inline-block;
    font-size: 14px;
    color:$lightblue;
    vertical-align: top;

    top:5px;
    position: relative;
    margin-right: 10px;
  }

  .icon-container {
    display:table-cell;
    vertical-align: top;
  }

  .text-container {
    display:table-cell;
    width: auto;
    vertical-align: top;
  }
}
.summary-box-informations-link{
  display: block;
  width: 100%;
  background: #f5f5f5;
  color:$blue;
  font-size:18px;
  line-height:1.44;
  text-align: center;
  padding: 12px;
  transition:background 0.2s, text 0.2s;

  .ehnvicon{
    vertical-align: middle;
    top:1px;
    position: relative;
    margin-right: 0;
    font-size:10px;
    margin-left:10px;
    color:$blue;
  }

}
