@charset "UTF-8";
div.thumb-box{
	padding: 0 $grid-gutter-width;
  @media screen and (max-width: $screen-xs-max) {
    padding: 0 ($grid-gutter-width / 2);
  }
	img{
		width: 100%;
		height:auto;
	}

	h1{
		font-size: 28px;
		line-height: 1.18;
		color:$darkblue;
		font-weight: 800;
	}
	p{

	}
}
