---
notes: |
  ##### Usage : `{{> button }}`
  ##### Options :
  - **button-content** - String
  - **button-type** - String
---
<a href="#" class="btn btn-{{#if button-type}}{{ button-type }}{{^}}primary{{/if}} btn-block" role="button">{{#if button-content}}{{ button-content }}{{^}}My button{{/if}}</a>
