---
notes: |
  ##### Usage : `{{> card }}`
  ##### Options :
  - **card-title** - String
  - **card-subtitle** - String
  - **format** - String
---
<a href="#" class="card card-{{#if format}}{{ format }}{{^}}default{{/if}}">
		<i class="ehnvicon ehnvicon-long-arrow-right"></i>
		<div class="content">
      <h1>{{#if card-title}}{{ card-title }}{{^}}Card Title{{/if}}</h1>
      {{#if card-subtitle}}<h2>{{ card-subtitle }}</h2>{{/if}}</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Expressa vero in iis aetatibus, quae iam confirmatae sunt. Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam neglegebat.</p>
		</div>

</a>
