---
notes: |
  ##### Usage : `{{> checkbox }}`
  ##### Options :
  - **label** - String
  - **checked** - Bool
---
<div class="checkbox">
	<label><input type="checkbox" value="" {{#if checked}}checked{{/if}}>&nbsp;{{#if label}}{{ label }}{{^}}My Checkbox{{/if}}</label>
</div>