---
notes: |
  ##### Usage : `{{> entry-title }}`
  ##### Options :
  - **title** - String
  - **subtitle** - String
---
<header class="entry-title">
  <h1>{{#if title}}{{ title }}{{^}}Title{{/if}}</h1>
  <h2>{{#if title}}{{ title }}{{^}}Title{{/if}}</h2>
  <p class="meta time">
    <i class="ehnvicon ehnvicon-clock"></i>
    <time datetime="2016-08-19">19 Août 2016</time>
  </p>
</header>
