---
notes: |
  ##### Usage : `{{> entry-title }}`
  ##### Options :
  - **title** - String
  - **subtitle** - String
---
<header class="entry-title">
	<h1>{{#if title}}{{ title }}{{^}}Title{{/if}}</h1>
	{{#if subtitle}}<h2>{{ subtitle }}</h2>{{/if}}
</header>
