---
notes: |
  ##### Usage : `{{> input-select }}`
  ##### Options :
  - **label** - String
  - **placeholder** - String
---
<div class="input-select form-group">
	{{#if label}}<label for="">{{label}}</label>{{/if}} 

	<select class="form-control" {{#if type}}{{type}}{{^}}default{{/if}} name="" id="">
		{{#if placeholder}}
			<option value="" class="placeholder" disabled selected>{{placeholder}}</option>
		{{/if}} 
    
		<option value="">Option 1</option>
		<option value="">Option 2</option>
		<option value="">Option 3</option>
		<option value="">Option 4</option>
	</select>
</div>
