---
notes: |
  ##### Usage : `{{> input-group }}`
  ##### Options :
  - **option** - Type
---
<div class="input-group">
      <input type="text" class="form-control" placeholder="Rechercher">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Ok</button>
      </span>
</div>
