---
notes: |
  ##### Usage : `{{> input-textarea }}`
  ##### Options :
  - **label** - String
  - **placeholder** - String
---
<div class="input-textarea form-group">
	{{#if label}}<label for="">{{label}}</label>{{/if}} 
	<textarea class="form-control" placeholder="{{placeholder}}" name="" id="" cols="30" rows="10"></textarea>
</div>
