---
notes: |
  ##### Usage : `{{> placeholder }}`
  ##### Options :
  - **placeholder-sexe** - Bool
---

<div class="placeholder">
  <i class="ehnvicon ehnvicon-placeholder-{{ placeholder-sexe }}"></i>
</div>
