---
notes: |
  ##### Usage : `{{> placeholder }}`
  ##### Options :
  - **placeholder-politesse** - Bool
---

<div class="placeholder">
  <i class="ehnvicon ehnvicon-placeholder-{{ placeholder-politesse }}"></i>
</div>
