---
notes: |
  ##### Usage : `{{> social-icon }}`
  ##### Options :
  - **service** - String
---
<a href="#" target="_blank" class="social-link"><i class="ehnvicon ehnvicon-{{#if service}}{{ service }}{{^}}twitter{{/if}}"></i></a>