---
notes: |
  ##### Usage : `{{> tags-select }}`
---
<select class="form-control tags-select" multiple="multiple">
  <option value="">Pédiatrie</option>
  <option value="">Option 1</option> te
  <option value="">Option 2 </option>
</select>
