.page-404  {
   h1{
     color: $blue;
     font-weight: 800;
     font-size: 55px;
     margin: 0;
   }

   h2 {
    color: $black;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
   }

   .ekg-container {
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      background: linear-gradient(to right, $white 10%, transparentize($white, 1) 50% );
    }
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      background: linear-gradient(to right, transparentize($white, 1) 70%, $white 100%);
      z-index: 100;
    }
   }
}
