@charset "UTF-8";

.home{
	section.landing{
		header.header{
			position: absolute;
			top:0;
			left:0;
			width: 100%;
		}
		.bg-image{
			width: 100%;
			max-width: 100%;
			height: auto;
			max-height: 850px;
			margin: 0;
      overflow: hidden;
      margin-top: 80px;

      @media only screen and (max-width: $screen-md-max) {
        margin-top: 100px;
      }

      @media only screen and (max-width: $screen-xs-max) {
        margin-top: 50px;
      }

      @media only screen and (min-width: 2000px) {
        margin-top: 0;
      }

			img{
        width: 130%;
        margin-left: -15%;

        @media only screen and (min-width: $screen-lg) {
          width: 100%;
          height: auto;
          margin-left: 0;
          margin-top: -2%;
        }

        @media only screen and (max-width: $screen-xs-max) {
          width: 250%;
          margin-left: -75%;
        }
			}
		}
	}

	section.content{
		padding-top: 59px;
		padding-bottom: 71px;

		h1{
			color:$darkblue;
      font-size:46px;
      line-height: 1.09;
      font-weight: 800;
		}
		h2{
			color:$lightblue;
			margin-top: 17px;
			margin-bottom: 30px;
		}
		a{
			border:0;
		}
	}
}

