@font-face {
  font-family: "ehnvicon";
  src: url('../fonts/ehnvicon.eot');
  src: url('../fonts/ehnvicon.eot?#iefix') format('eot'),
    url('../fonts/ehnvicon.woff') format('woff'),
    url('../fonts/ehnvicon.ttf') format('truetype'),
    url('../fonts/ehnvicon.svg#ehnvicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ehnvicon:before {
  display: inline-block;
  font-family: "ehnvicon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ehnvicon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ehnvicon-2x { font-size: 2em; }
.ehnvicon-3x { font-size: 3em; }
.ehnvicon-4x { font-size: 4em; }
.ehnvicon-5x { font-size: 5em; }
.ehnvicon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.ehnvicon-arrow-down:before { content: "\EA01" }
.ehnvicon-arrow-right:before { content: "\EA02" }
.ehnvicon-clock:before { content: "\EA03" }
.ehnvicon-close:before { content: "\EA04" }
.ehnvicon-cross:before { content: "\EA05" }
.ehnvicon-double-arrow-right:before { content: "\EA06" }
.ehnvicon-download:before { content: "\EA07" }
.ehnvicon-facebook:before { content: "\EA08" }
.ehnvicon-home:before { content: "\EA09" }
.ehnvicon-instagram:before { content: "\EA0A" }
.ehnvicon-linkedin:before { content: "\EA0B" }
.ehnvicon-long-arrow-right:before { content: "\EA0C" }
.ehnvicon-nav:before { content: "\EA0D" }
.ehnvicon-phone:before { content: "\EA0E" }
.ehnvicon-pin:before { content: "\EA0F" }
.ehnvicon-placeholder-dr:before { content: "\EA10" }
.ehnvicon-placeholder-dresse:before { content: "\EA11" }
.ehnvicon-search:before { content: "\EA12" }
.ehnvicon-twitter:before { content: "\EA13" }