*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.no-gutter{
  padding-right: 0;
  padding-left: 0;
}
.no-gutter-left{
  padding-left: 0;
}
.no-gutter-right{
  padding-right: 0;
}

@media only screen and (max-width: $screen-xs-max) {
  .text-xs-left { text-align: left; }
  .text-xs-right { text-align: right; }
  .text-xs-center { text-align: center; }
  .text-xs-justify { text-align: justify; }
}

@media only screen and (max-width: $screen-sm-max) {
.text-sm-left { text-align: left; }
.text-sm-right { text-align: right; }
.text-sm-center { text-align: center; }
.text-sm-justify { text-align: justify; }
}

@media only screen and (max-width: $screen-md-max) {
.text-md-left { text-align: left; }
.text-md-right { text-align: right; }
.text-md-center { text-align: center; }
.text-md-justify { text-align: justify; }
}
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.greybg{
  background: $lightgrey;
}

.lightbluebg{
  background: $lightblue;

  p{
    color:$white;
    a, a:visited{
      color:$white;
      &:hover{
        color:$white;
      }
    }
  }
  h1, h2, h3, h4, h5{
    color:$white;
  }


  .btn{
    &.btn-link{
      color:$white;
      &:hover{
        color:$white;
        border-bottom: 2px solid $white;
      }
    }
    &.btn-primary{
      border:2px solid $white;
      box-shadow: none;
      background: transparent;
      color:$white;

      &:hover{
        background: transparentize($black, 0.8);
        box-shadow: none;
        color:$white;

      }
    }
  }
}

.darkbluebg{
  background: $darkblue;
  p{
    color:$white;
    a, a:visited{
      color:$lightblue;
      border-bottom: 1px solid $lightblue;
      &:hover{
        color:$white;
        border-bottom:  1px solid $white;
      }
    }
  }
  h1, h2, h3, h4, h5{
    color:$white;
  }


  .btn{
    &.btn-link{
      color:$white;
      &:hover{
        color:$lightblue;
      }
    }
    &.btn-primary{
      border:2px solid $white;
      box-shadow: none;
      background: $darkblue;
      color:$white;

      &:hover{
        background: transparentize($black, 0.8);
        box-shadow: none;
        color:$white;

      }
    }
  }
}


