.content-wrapper p{
  font-size: $font-size-base;

	a, a:visited{
		border-bottom: 1px solid $blue;

		&:hover{
			border-bottom: 1px solid darken($link-color, 15%);
		}
	}
}
strong, b{
	font-weight: 700;
}

.entry-content{
	margin-bottom: 56px;
}

@media only screen and (max-width: $screen-xs-max) {
  p{
    font-size: floor(($font-size-base * 0.85));
  }
  h1{
    font-size: floor(($font-size-base * 1.5));
  }
  h2{
    font-size: floor(($font-size-base * 1.25));
  }
  h3{
    font-size: floor(($font-size-base * 1.15));
  }
  h4{
    font-size: floor(($font-size-base * 1));
  }
  h5{
    font-size: floor(($font-size-base * 0.9));
  }
  h5{
    font-size: floor(($font-size-base * 0.85));
  }
}
