---
notes: |
  ##### Usage : `{{> corona-home }}`
---
<div id="corona-home">
  <div class="container text-center">
    <div class="spacer spacer-md"></div>
    <h3 class="h2 font-weight-bold">Test d'identification du COVID-19</h3>
    <p class="h4">Hôpital d'Yverdon-les-Bains</p>

    <div class="spacer spacer-md"></div>
    <div class="spacer spacer-md"></div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="covid-element">
          <img src="../build/img/agenda.svg" alt="">
          <p>Drive-in et walk-in <strong>ouverts 7j/7 sur rendez-vous</strong></p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="covid-element">
          <img class="visible-xs-block" src="../build/img/car-vertical.svg" alt="">
          <img class="hidden-xs" src="../build/img/car.svg" alt="">
          <p>Choisissez de venir vous faire tester <strong>à pied ou en voiture</strong></p>
        </div>
      </div>

     <div class="col-sm-6 col-md-4">
        <div class="covid-element">
          <img src="../build/img/clock.svg" alt="">
          <p>Un test en <strong>trois minutes</strong><br>
          Un résultat en <strong>quelques heures</strong></p>
        </div>
      </div>
    </div>
    <div class="spacer spacer-md"></div>

    <div class="">
      <p class="h3 font-weight-bold" style="max-width: 48rem; margin: 2.5rem auto;">Évaluer rapidement si un test est indiqué dans votre situation.</p>
      <a class="btn btn-default" href="/drive-in">Evaluer</a>
    </div>

    <hr>

    <div class="spacer spacer-sm"></div>

    <a class="text-white font-weight-bold collapse-toggle" role="button" data-toggle="collapse" href="#collapseCovid" aria-expanded="false" aria-controls="collapseCovid">
      <span style="text-decoration: underline">Avez-vous déjà des anticorps? (test sérologique)</span>
      <i class="ehnvicon ehnvicon-arrow-down" style="font-size: 1rem; margin-left: 1rem; "></i>
    </a>

    <div class="collapse lightbluebg" id="collapseCovid">
      <p style="max-width: 64rem; margin: 3.5rem auto;">Un tests sérologique sans ordonnance permet de savoir si vous avez développé des anticorps contre la COVID. Les résultats sont envoyés en une semaine.</p>
      <a class="btn btn-primary" href="#">Prendre rendez-vous</a>
    </div>

    <div class="spacer"></div>
  </div>
</div>
