---
notes: |
	##### Usage : `{{> footer }}`
---
<footer class="footer">
	<div class="content">
		<div class="container">
      <div class="row">
  			<div class="col-sm-7">
  				<h1>Tenez-vous informé des dernières nouvelles de la <b>eHnv</b> en vous inscrivant à notre <b>newsletter</b> !</h1>
  				<p>Consultez <a href="#">les dernières éditions</a> de notre newsletter mensuelle.</p>
  				{{> email-input }}
  			</div>
  			<div class="col-sm-4 col-sm-offset-1 text-xs-center">
          <div class="spacer spacer-xl visible-xs-block"></div>
          <h3 class="media-heading">Retrouvez les eHnv sur&nbsp;LinkedIn.</h3>
  				{{> social-icon service="linkedin" }}
  			</div>
  			<div class="col-sm-12">
  				<hr>
  			</div>
  			<div class="col-sm-12">
  				<ul class="list-link">
          <li><a href="">Hôpital de la Vallée</a></li>
          <li><a href="">Hôpital de St-Loup</a></li>
          <li><a href="">Hôpital d’Yverdon-les-Bains</a></li>
					<li><a href="">Centre de chirurgie ambulatoire (DaisY)</a></li>
					<li><a href="">Centre d'obésité et de chirurgie bariatrique</a></li>
					<li><a href="">Centre Vaudois de boulimie et d’Anorexie</a></li>
					<li><a href="">Centre de traitement et de réadaptation de Chamblon </a></li>
					<li><a href="">Centre de traitement et de réadaptation de d'Orbe</a></li>
          <li><a href="">Permanence médicale de Cossonay</a></li>
          <li><a href="">Permanence médicale d’Orbe</a></li>
  				</ul>
  			</div>
      </div>
		</div>
	</div>


</footer>
