---
notes: |
  ##### Usage : `{{> header-hmag }}`
---
<div class="visible-xs-block">
  {{> mobile-nav }}
</div>
<header class="header-hmag">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-5">
          <div class="navbar-header">
            <a href="http://ehnv.ch">
              <img class="img-responsive hidden-xs hidden-sm" src="../build/svg/logo_Hmag.svg" alt="Hmag - Le magazine édité par les eHnv" onerror="this.onerror=null; this.src='../build/svg/logo_Hmag.png'">
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-0 col-md-6 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-offset-3 hidden-xs">
          <div class="collapse navbar-collapse">
            <div class="row">
              <ul class="nav navbar-nav navbar-right secondary">
                <li><a href="http://hmagazine.dev">Hmag</a></li>
                <li><a href="http://hmagazine.dev/a-propos">A propos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="spacer spacer-md"></div>
<div class="lightbluebg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spacer spacer-xl"></div>
        <p class="tagline text-center">
          Le magazine édité par les <a href="http://www.ehnv.ch">
          <img width="240" height="58" src="../build/svg/logo_eHnv_white.svg" alt="eHnv - Etablissements Hospitaliers du Nord Vaudois." onerror="this.onerror=null; this.src='../build/svg/logo_eHnv_white.png'">
        </p>
        <div class="spacer spacer-xl"></div>
      </div>
    </div>
  </div>
</div>
