---
notes: |
  ##### Usage : `{{> header }}`
  ##### Options :
  - **option** - Type
---
<div class="visible-xs-block">
  {{> mobile-nav }}
</div>

<header class="header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-5">
          <div class="navbar-header">
            <a href="">
              <img
              class="img-responsive hidden-xs hidden-sm"
              src="{{#unless fabricator}}../{{/unless}}build/svg/logo_eHnv_full.svg"
              alt="eHnv - Etablissements Hospitaliers du Nord Vaudois."
              onerror="this.onerror=null; this.src='{{#unless fabricator}}../{{/unless}}build/img/logo_eHnv_full.png'" >
              <img
              class="img-responsive visible-xs-block visible-sm-block"
              src="{{#unless fabricator}}../{{/unless}}build/svg/logo_eHnv_redux.svg"
              alt="eHnv - Etablissements Hospitaliers du Nord Vaudois."
              onerror="this.onerror=null; this.src='{{#unless fabricator}}../{{/unless}}build/img/logo_eHnv_redux.png'" >
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-lg-offset-3 col-md-6 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-offset-3 hidden-xs">
          <div class="collapse navbar-collapse">
            <div class="row">
              {{> secondary-nav navbar-right=true navbar=true }}
            </div>
            <div class="row">
              {{> search-box right=true toggle-able=true }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="collapse navbar-collapse" id="collapse-nav">
          {{> main-nav navbar=true }}
        </div>
      </div>
    </nav>
  </div>
</header>

