---
notes: |
  ##### Usage : `{{> header }}`
  ##### Options :
  - **option** - Type
---
<div class="visible-xs-block">
  {{> mobile-nav }}
</div>

<header class="header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="row">
        <div class="col-md-5 col-sm-4 col-xs-8">
          <div class="navbar-header">
            <a href="">
              <img
              class="img-responsive"
              src="{{#unless fabricator}}../{{/unless}}build/svg/logo_eHnv_full.svg"
              alt="eHnv - Etablissements Hospitaliers du Nord Vaudois."
              onerror="this.onerror=null; this.src='{{#unless fabricator}}../{{/unless}}build/img/logo_eHnv_full.png'" >
            </a>
          </div>
        </div>
        <div class="col-md-7 col-sm-8 hidden-xs">
          <div class="collapse navbar-collapse">
            <div class="row">
              {{> secondary-nav navbar-right=true navbar=true }}
            </div>
            <div class="row">
              {{> search-box right=true toggle-able=true }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="collapse navbar-collapse" id="collapse-nav">
          {{> main-nav navbar=true }}
        </div>
      </div>
    </nav>
  </div>
</header>

