---
notes: |
  ##### Usage : `{{> location }}`
---
<section class="location">
	<div class="container">
    <div class="row">
      <div class="col-md-4 lightbluebg title-container">
        <div class="content">
          <h2>Nous sommes près de chez vous.</h2>
          <div class="spacer spacer-sm"></div>
        </div>
        <i class="ehnvicon ehnvicon-pin"></i>


      </div>
      <div class="col-md-8 lightbluebg mapCont">
        {{> map }}
      </div>
    </div>
	</div>
</section>
