---
notes: |
  ##### Usage : `{{> maternity }}`
---
<section class="content">
  <div class="spacer spacer-md"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="spacer spacer-md"></div>
        <img class="img-responsive" src="../build/img/EHNV_blocHomepage_maternite@2x.png" alt="Illustration de jeunes parents devant une maternité">
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3 class="h1 font-weight-bold text-dark-blue">Maternité</h1>
        <p class="lead font-weight-normal text-light-blue">La maternité de l’hôpital d’Yverdon-les-Bains accueille plus de 1000 naissances chaque année. Découvrez nos cours et prestations.</p>
        <a href="#" class="btn btn-primary">En savoir plus</a>
      </div>
    </div>
  </div>
  <div class="spacer spacer-md"></div>
</section>
