---
notes: |
	##### Usage : `{{> newsletter }}`
---
<section class="newsletter">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Professionnels</h1>
      <h2>Newsletter pour les professionnels</h2>
      <p>Mauris placerat eu leo sed hendrerit. Torbi at metus placerat eu leo sed hendrerit. vecop elit ultrices ullamcorper orbi at metus vel placerat eu leo sed. <a href="">Torbi at metus</a> placerat eu leo sed hendrerit. Metus placerat eu leo sed hendrerit.</p>
      {{> email-input }}
    </div>
  </div>
</div>

</section>
