---
notes: |
	##### Usage : `{{> social-box }}`
---
<section class="social-box">
	<div class="instagram-flow">
		<div class="container-fluid no-gutter">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-gutter">
				<a href="#" target="_blank">
					<div class="focuspoint"
					data-focus-x="0"
					data-focus-y="0"
					data-image-w="500"
					data-image-h="500">
					<img src="https://unsplash.it/500/500/?random" alt="">
				</div>
			</a>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-gutter">
			<a href="#" target="_blank">
				<div class="focuspoint"
				data-focus-x="0"
				data-focus-y="0"
				data-image-w="500"
				data-image-h="500">
				<img src="https://unsplash.it/500/500/?random" alt="">
			</div>				</a>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hidden-xs no-gutter">
			<a href="#" target="_blank">
				<div class="focuspoint"
				data-focus-x="0"
				data-focus-y="0"
				data-image-w="500"
				data-image-h="500">
				<img src="https://unsplash.it/500/500/?random" alt="">
			</div>				</a>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hidden-sm hidden-xs no-gutter">
			<a href="#" target="_blank">
				<div class="focuspoint"
				data-focus-x="0"
				data-focus-y="0"
				data-image-w="500"
				data-image-h="500">
				<img src="https://unsplash.it/500/500/?random" alt="">
			</div>				</a>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hidden-md hidden-sm hidden-xs no-gutter">
			<a href="#" target="_blank">
				<div class="focuspoint"
				data-focus-x="0"
				data-focus-y="0"
				data-image-w="500"
				data-image-h="500">
				<img src="https://unsplash.it/500/500/?random" alt="">
			</div>				</a>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hidden-md hidden-sm hidden-xs no-gutter">
			<a href="#" target="_blank">
				<div class="focuspoint"
				data-focus-x="0"
				data-focus-y="0"
				data-image-w="500"
				data-image-h="500">
				<img src="https://unsplash.it/500/500/?random" alt="">
			</div>				</a>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1>Suivez Hashtag, le mag des eHnv</h1>
        <h2><a href="#" target="_blank">Notre magazine</a> dédié à votre bien-être</h2>
      </div>
      <div class="col-sm-4 col-sm-offset-1 text-xs-center">

        {{> social-icon service="twitter" }}
        {{> social-icon service="instagram" }}
      </div>
    </div>
	</div>
</div>

</section>
