---
notes: |
	##### Usage : `{{> social-box }}`
---
<section class="social-box">
   <div class="instagram-flow">
    <div class="container-fluid no-gutter">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-gutter">
        <a href="https://www.instagram.com/p/BLQgx8pA-vS/?taken-by=hmag_ehnv" target="_blank" style="background-image:url(https://scontent-mxp1-1.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/14515840_645075628987886_257299765442641920_n.jpg?ig_cache_key=MTM1NTcyNzY1NzY5Mzg2Njk2Mg%3D%3D.2">
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-gutter">
        <a href="https://www.instagram.com/p/BLQSD6FgkWU/" target="_blank" style="background-image:url(https://scontent-mxp1-1.cdninstagram.com/t51.2885-15/e35/14574081_310184799355839_5312417960063664128_n.jpg?ig_cache_key=MTM1NTY2MjkyMTIwMzU5ODc0MA%3D%3D.2">
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hidden-xs no-gutter">
        <a href="https://www.instagram.com/p/BLQRvfPAD3T/" target="_blank" style="background-image:url(https://scontent-mxp1-1.cdninstagram.com/t51.2885-15/e35/14597250_258057031262406_644163910928171008_n.jpg?ig_cache_key=MTM1NTY2MTUxNzk4MjI4NTI2Nw%3D%3D.2">
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hidden-sm hidden-xs no-gutter">
        <a href="https://www.instagram.com/p/BLQRmiaAL1M/" target="_blank" style="background-image:url(https://scontent-mxp1-1.cdninstagram.com/t51.2885-15/e35/14566740_1609792355980486_3589570109347201024_n.jpg?ig_cache_key=MTM1NTY2MDkwMjkxMjgwMjEyNA%3D%3D.2">
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hidden-md hidden-sm hidden-xs no-gutter">
        <a href="https://www.instagram.com/p/BLQRbCRAn88/" target="_blank" style="background-image:url(https://scontent-mxp1-1.cdninstagram.com/t51.2885-15/e35/14591071_1218396834907532_438036211211173888_n.jpg?ig_cache_key=MTM1NTY2MDExMjQ4NzkzOTkwMA%3D%3D.2"></a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hidden-md hidden-sm hidden-xs no-gutter">
        <a class="picture" href="https://www.instagram.com/p/BLQRJmLAYu-/" target="_blank" style="background-image:url(https://scontent-mxp1-1.cdninstagram.com/t51.2885-15/e35/14592200_199675117123517_8017171054919155712_n.jpg?ig_cache_key=MTM1NTY1ODkxNDA5MTMzODY4Ng%3D%3D.2)"></a>
      </div>
    </div>
  </div>

<div class="content">
	<div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1>Suivez Hashtag, le mag des eHnv</h1>
        <h2><a href="#" target="_blank">Notre magazine</a> dédié à votre bien-être</h2>
      </div>
      <div class="col-sm-4 col-sm-offset-1 text-xs-center">

        {{> social-icon service="twitter" }}
        {{> social-icon service="instagram" }}
      </div>
    </div>
  </div>
</div>

</section>
