---
notes: |
  ##### Usage : `{{> thumb-box-container }}`
---
<section class="thumb-box-container">
  <div class="container no-gutter">
    {{> thumb-box title="Patients" }}

    {{> thumb-box title="Visiteurs" }}

    {{> thumb-box title="Futurs parents" }}
  </div>
</section>
