---
notes: |
  ##### Usage : `{{> thumb-box-container }}`
---
<section class="thumb-box-container">
  <div class="container no-gutter">
    <div class="row">
      <div class="col-md-4">
        {{> thumb-box title="Patients" }}
      </div>
      <div class="col-md-4">
        {{> thumb-box title="Visiteurs" }}
      </div>
      <div class="col-md-4">
        {{> thumb-box title="Futurs parents" }}
      </div>
    </div>
  </div>
</section>
