@charset "UTF-8";

#corona-home {
  background-color: $blue;
  color: white;

  a.collapse-toggle {
    border-bottom: 0;

    &[aria-expanded="true"] i:before {
      transform: rotate(180deg)
    }
  }

  .lightbluebg {
    background-color: transparent;
  }
}

#corona-home h3, #corona-home p {
  color: white;
}

.covid-element {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  text-align: left;
  line-height: 1.25;
  
  @media only screen and (min-width: $screen-sm-min) {
    align-items: flex-start;
  }

  p {
    margin-bottom: 0;
  }
  
  img {
    width: 3rem;
    
    @media only screen and (min-width: $screen-sm-min) {
      margin-top: 0.5rem;
      width: auto;
      height: 3rem;
    }
  }

  > * + * {
    margin-left: 2rem;
  }
}
