@charset "UTF-8";
footer.footer{
  margin:0;
  background: $blue;
  color:$white;

  .content{
    padding:56px 0;
  }

  hr{
    margin-top: 47px;
    margin-bottom: 46px;
    display: block;
  }

  ul.list-link{
    font-size:0;
    text-align: center;
    margin:0;
    padding: 0;
    li{
      display: inline-block;
      margin:0px 8px 0px 0px;
      &:before{
        margin-right: 8px;
        content: "•";
        color:$lightgrey;
        font-size:20px;
      }
      &:first-child{
        &:before{
          content:"";
        }
      }
      @media only screen and (max-width: $screen-xs-max) {
        display: block;
        &:before{
          content:"";
        }
      }

      a{
        font-size:16px;
        line-height: 1.25;
        letter-spacing: 0.01em;
        color:$lightgrey;
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
        &:hover{
          opacity: 1;
          color:$white;
          border-bottom: 1px solid $white !important;
        }
      }
    }
  }

  h2{
    font-size: 33px;
    @media only screen and (max-width: $screen-xs-max) {
      font-size: 25px;
    }
    line-height: 1.15;
    font-weight: 300;

    padding:0;
    margin:0 0 16px 0;
  }

  h3 {
    font-weight: 100;
  }

  p{
    @media only screen and (max-width: $screen-xs-max) {
      font-size: 18px;
    }
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    font-weight: 400;
    margin:0 0 33px 0;
    padding:0;
    a{
      color: $white;
      border-bottom: 1px solid $white;
      &:hover{
        color: $lightblue;
        border-bottom: 1px solid $lightblue !important;
      }
    }
  }

  .social-link{
    @media only screen and (max-width: $screen-xs-max) {
      margin-top:0;
    }
  }

}
