@charset "UTF-8";


.navbar-default{
  margin-top:29px;
  @media only screen and (max-width: $screen-xs-max) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  background: transparent;
  border: none;
}
