@charset "UTF-8";
section.thumb-box-container{
	padding: 85px 0;

	div.thumb-box{
		width: 28%;
		display: inline-block;
		margin-right: 5.332%;

		&:last-child{
			margin-right: 0;
		}

		@media (max-width: $screen-xs-max) {
			width: 100%;
			margin-right: 0;
			margin-top: 85px;
			&:first-child{
				margin-top: 0;
			}
		}

	}
}
