@charset "UTF-8";
.urgences{
	width: 100%;
	display: flex;
  h1{
    font-weight: 800;
    font-size: 46px;
    line-height: 1;
  }
  h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.21;
  }
	@media (max-width: $screen-sm-max) {
		display: block;
		font-size:0;
	}
	.left{
		width: 50%;
		@media (max-width: $screen-sm-max) {
			width: 100%;
			display: inline-block;
			font-size:$font-size-base;
		}

		.content{
      @media screen and (min-width: $screen-md-min) {
  			max-width:$container-lg/2;
      }
			float: right;
      width: calc(100% - 15px);
      padding: 0 $grid-gutter-width/2;
      position: relative;

      h3{
       margin: 0;
       padding: 0;
       margin-top:44px;
       z-index: 10;
       position: relative;
       .ehnvicon{
        font-size: 21px;
        color:$lightblue;
      }
    }
    .phone-number{
     display: inline-block;
     font-size:150px;
     line-height:1;
     font-weight: 800;
     margin: 0 0 32px 0;
     padding: 0;
     color:$white;
     z-index: 10;
     position: relative;

    @media screen and (max-width: $screen-xs-max) {
      font-size:100px;
    }

     &:hover{
      color:$lightblue;
    }

  }


  .ekg-container{
    position: absolute;
    display: inline-block;
    right:0;
    top:50%;
    transform:translate(0, -50%);
    z-index: 0;
    opacity: 0.4;

    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      background: linear-gradient(to right, $darkblue, transparentize($darkblue, 1) 50% );
    }
 }
}
}
.right{
  width: 50%;
  position: relative;
  overflow: hidden;
  background:
    url(../img/bg_urgences.jpg) no-repeat bottom right / contain,
    linear-gradient(to bottom, #04b8bc, #04b1b7);

  @media (max-width: $screen-sm-max) {
    width: 100%;
    display: inline-block;
    font-size:$font-size-base;
  }

  @media only screen and (max-width: $screen-md-max) {
    background:
      url(../img/bg_urgences.jpg) no-repeat center center / cover,
      linear-gradient(to bottom, #04b8bc, #04b1b7);
  }

  .content{
    float: left;
    width: calc(100% - 15px);
    padding: 0 $grid-gutter-width/2;
    z-index: 10;
    position: relative;

    a:hover {
      opacity: 0.7;
    }

    @media screen and (min-width: $screen-sm-min) {
      max-width:$container-lg/2;
    }
  }
}
}

@keyframes dash {
	0%{
   stroke-dashoffset: 500;
   opacity: 1;
 }

 70%{
   stroke-dashoffset: 0;
   opacity: 1;
 }

 99%{
   stroke-dashoffset: 0;
   opacity: 0;
 }

 100%{
   stroke-dashoffset: 500;
   opacity: 0;
 }

}


.ekg-container{
  position: relative;
  display: inline-block;

  .ekg{
   display: block;
   fill:none;
   stroke:$lightblue;
   stroke-width:6;
   stroke-dasharray: 500;
   stroke-dashoffset: 0;
   animation: dash 2s ease-out infinite;
   position: relative;
   width: 175px;
   height: auto;

   .ie & {animation: none;}
 }
}

