@charset "UTF-8";

.btn{
	line-height: 1.9;
	border:0;
	margin-bottom: 13px;
	font-weight: 600;



	&.btn-primary{
		background: $blue;
		box-shadow: 0 3px #03597a;
		&:hover{
			background: $lightblue;
			box-shadow: 0 3px #0b9b97;
		}
	}
	&.btn-default{
		background: $lightgrey;
		box-shadow: 0 3px darken($lightgrey, 19%);
		color:$blue;
		&:hover{
			color:$lightblue;
		}
	}

	&.btn-link{
		background: none;
		box-shadow: none;
		color:$blue;
		line-height: 1;
		margin: 0;
		padding:0;
		border-bottom:2px solid transparent;

		.ehnvicon{
			font-size: 12px;
			padding-left: 10px;

		}

		&:hover{
			color:$lightblue;
			border-bottom:2px solid $lightblue;
		}
	}
}
