@charset "UTF-8";

.card{
  display: inline-block;
  background: $lightgrey;
  border-left:2px solid $lightblue;
  margin-bottom: 20px;

  overflow: hidden;
  position: relative;

  &:hover{
    background: $lightblue;
    color:$white;
    i.ehnvicon{
      color:$white;
    }
    div.content{
      h1, h2, p{
        color:$white;
      }
    }

  }

  @media only screen and (min-width: $screen-xs-max) {
    &.card-square{
      i.ehnvicon{
        bottom: 4px;
        top:auto;
      }
    }
  }


  i.ehnvicon{
    font-size:9px;
    display: inline-block;
    color:$lightblue;
    position: absolute;
    top:50%;
    right: 16px;
    transform:translateY(-50%);
  }



  div.content{
    margin:22px 50px 32px 23px;
    h1{
      font-size: 28px;
      line-height: 1.18;
      color:$darkblue;
      font-weight: 700;
      margin:0 0 10px 0;
      padding: 0;
    }
    h2{
      font-size: 20px;
      line-height: 1.25;
      color:$blue;
      margin:0 0 10px 0;
      padding: 0;
    }
    p{
      color:$mine;
      margin:0 0 10px 0;
    }
  }



}
