@charset "UTF-8";
header.entry-title{
	margin:0 0 46px 0;
	h1{
		font-size: 46px;
    @media only screen and (max-width: $screen-xs-max) {
      font-size: 30px;
    }
		line-height: 1.09;
		color:$darkblue;
		font-weight: 800;
		padding: 0;
		margin: 0 0 0.3em 0;
	}
	h2{
    @media only screen and (max-width: $screen-xs-max) {
      font-size: 20px;
    }
		font-size: 33px;
		line-height: 1.15;
		color:$lightblue;
		font-weight: 400;
		padding: 0;
		margin: 0;
		margin: 0 0 0.6em 0;
	}
}
