@charset "UTF-8";
.input-select{
	label{
		color:transparentize($mine, 0.35);
		font-size:16px;
		line-height: 1.5625;
		font-weight: 600;
		margin:0 0 2px 0;
	}
	select{
		width: 100%;

		font-size: 16px;
		line-height: 1.5625;
		letter-spacing: 0.01em;
		padding: 8px 14px;
		border: 1px solid #ebebeb;
		font-weight: 600;

		border-radius:$border-radius-base;

		background: none;
		box-shadow: none;

		margin: 0 0 30px;

	}

}
