@charset "UTF-8";
.input-group {
	.form-control {
			box-shadow: none;
			color:#323232;
			font-size: 16px;
			line-height: 1.25;
			letter-spacing: 0.0139em;
			font-weight: 600;
			padding: 11px 14px;
      height: 50px;
	}

	.form-control:last-child {
		border-radius: $border-radius-base;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

  .input-group-btn {
		.form-control:last-child {
			border-radius: $border-radius-base;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

    .btn{
        box-shadow: none;

        &:hover{
          box-shadow: none;
        }
      }
  }
}
