@charset "UTF-8";
a.social-link{
			margin:10px 36px 0 0;
      @media only screen and (max-width: $screen-xs-max) {
      margin: 40px 20px 0;
      }
			display: inline-block;
			opacity: 0.55;

			i.ehnvicon{
				color:$white;
				font-size: 41px;
			}
			&:hover{
				opacity: 1;
			}
		}
