@charset "UTF-8";
.tags-select{

}
.select2{
  color: #323232;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.0139em;
  font-weight: 600;

  .select2-selection{
    border: 1px solid #ebebeb;
    border-radius:$border-radius-base;
  }
  .select2-search__field{
  }

  .select2-selection--multiple .select2-selection__rendered{
    padding: 5px 14px;

  }
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background: $lightgrey;
  border:0;
  border-radius:$border-radius-base;
  color:$blue;
  font-size: 16px;
  line-height: 1.39;
  letter-spacing: 0.01em;
  padding:8px 10px 7px;
  margin:5px 5px 0 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  float:right;
  margin: 1px 0 0 8px;
  color:$blue;
}
.select2-container .select2-results ul.select2-results__options li{
  color: #323232;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.0139em;
  font-weight: 600;
}
.select2-container .select2-results ul.select2-results__options li.select2-results__option--highlighted[aria-selected]{
  background: $lightblue;
  color:$white;
}
