{{> header }}

  <div class="spacer"></div>
  <div class="container">
    <div class="row page-404">
      <div class="col-md-6 col-md-offset-2 col-sm-8">
        <h1>Erreur 404</h1>
        <h2>Page introuvable</h2>
        <div class="spacer spacer-sm"></div>
        <p>La page que vous souhaitez consulter sur le site des eHnv n'existe pas, a été déplacée ou supprimée. Nous nous excusons pour ce désagrément.</p>
        <p>
          Accéder directement : <br>
          <ul>
            <li><a href="#">La page d'accueil</a></li>
            <li><a href="#">La liste des nos spécialités</a></li>
            <li><a href="#">Les établissements</a></li>
            <li><a href="#">Nous contacter</a></li>
          </ul>
          </p>
      </div>
      <div class="col-sm-4">
          <div class="ekg-container hidden-xs">
        <svg class="ekg" width="172px" height="147px" viewBox="0 0 172 147" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <path d="M0.924384751,101.191932 L66.1578656,101.191932 L73.9363538,83.034062 L80.9917498,101.191932 L98.4618961,101.191932 L116.204537,0.579883885 L142.988197,146.797568 L157.618369,101.191932 L171.91357,101.191932" id="ekg" sketch:type="MSShapeGroup"></path>
        </svg>
      </div>

      <div class="spacer spacer"></div>

    </div>
  </div>
</div>
<div class="spacer"></div>

{{> social-box }}

{{> footer }}



