	{{> header }}

	{{> breadcrumb }}

	{{> cover portrait=false }}

  <div class="spacer"></div>
  <div class="container">
    <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <article class="news-detail">
        <header>
          {{> entry-title title="Le comité" }}
        </header>
        <div class="news-content">
         <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Sic exclusis sententiis reliquorum cum praeterea nulla esse possit, haec antiquorum valeat necesse est. Bestiarum vero nullum iudicium puto. In motu et in statu corporis nihil inest, quod animadvertendum esse ipsa natura ipsum dolor sit amet, consectetur adipiscing elit. Videmusne ut pueri ne verberibus quidem a contemplandis rebus perquirendisque deterreantur?</strong>
         </p>
         <h3>Comité directeur</h3>
         {{> peoples }}


        </div>
      </article>
      <div class="spacer"></div>

    </div>
  </div>
</div>

{{> social-box }}

{{> footer }}



