	{{> header }}

	{{> breadcrumb }}

  {{> cover portrait=true portrait-url="https://randomuser.me/api/portraits/women/14.jpg" }}

  <div class="container">
    <div class="row">

  			<div class="col-md-8 col-md-offset-2">
          <div class="entry">
          {{> entry-title title="Dr Andrea Casarie" subtitle="Pédiaterie" }}
  				<div class="entry-content">
  					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Sic exclusis sententiis reliquorum cum praeterea nulla esse possit, haec antiquorum valeat necesse est. Bestiarum vero nullum iudicium puto. In motu et in statu corporis nihil inest, quod animadvertendum esse ipsa natura ipsum dolor sit amet, consectetur adipiscing elit. Videmusne ut pueri ne verberibus quidem a contemplandis rebus perquirendisque deterreantur?

  					</p>
  					<p>
  						Erat enim res aperta. Teneo, inquit, finem illi videri nihil dolere. Duo Reges: constructio interrete. Et ille ridens: Video, inquit, quid agas; Prodest, inquit, mihi eo esse animo. Quae in controversiam veniunt, de iis, si placet, disseramus. Multoque hoc melius nos veriusque quam Stoici. Sit sane ista voluptas.</p>
  						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim de amicitia statueris utilitatis causa expetenda vides. Qui autem de summo bono dissentit de tota philosophiae ratione dissentit. Et quidem, inquit, vehementer errat; Quodsi ipsam honestatem undique pertectam atque absolutam. Duo Reges: constructio interrete. Huius, Lyco, oratione locuples, rebus ipsis ielunior</p>
  						<hr>

  					</div>

  					{{> entry-footer }}

  				</div>
        </div>
			</div>
		</div>
		<div class="greybg">
			{{> color-box-container summary=true subtitle="Les dernières actualités"}}
		</div>


		{{> social-box }}

		{{> footer }}



