{{> header }}

{{> breadcrumb }}

{{> cover portrait=false }}

<div class="facility-detail greybg">
  <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          {{> side-nav }}
        </div>
        <div class="col-md-8 col-md-offset-1">
          {{> entry-title title="Hôpital d'Yverdon-les-Bains" }}
          <p><strong>Et ut in facilis minima qui perspiciatis harum. Adipisci ut deserunt et velit. Provident et quos ullam est reprehenderit et facilis. Autem numquam nostrum autem consequuntur similique sint.</strong></p>

          {{> contact-infos title="Contact" }}

          <h3>Horaires</h3>
          <p>Voluptatem ducimus laborum quibusdam aut qui occaecati. Iste minima voluptatem commodi. Et doloribus qui natus omnis cum. Est sit odit delectus et possimus in. Dolorem officia eos fugiat occaecati placeat quia. Et harum voluptatem exercitationem et numquam aut. Cumque dolor autem maiores aut soluta.</p>
          <p>Voluptatem ducimus laborum quibusdam aut qui occaecati. Iste minima voluptatem commodi. Et doloribus qui natus omnis cum. Est sit odit delectus et possimus in. Dolorem officia eos fugiat occaecati placeat quia. Et harum voluptatem exercitationem et numquam aut. Cumque dolor autem maiores aut soluta.</p>
          <h3>Parking</h3>
          <p>Voluptatem ducimus laborum quibusdam aut qui occaecati. Iste minima voluptatem commodi. Et doloribus qui natus omnis cum. <strong>Est sit odit delectus</strong> et possimus in. Dolorem officia eos fugiat occaecati <a href="">placeat quia</a>. Et harum voluptatem exercitationem et numquam aut. Cumque dolor autem maiores aut soluta.</p>

          {{> link-list title="Spécialités" }}

          <h3>Médecins</h3>
          <p>Il y a <a href="#">30 médecins</a> dans cet établissement</p>

        </div>
      </div>
    </div>
  <div class="spacer"></div>
</div>

{{> footer }}
