<div class="home">

  <section class="landing">
    {{> header }}
    <div class="bg-image">
      <img src="{{#unless fabricator}}../{{/unless}}build/img/bg_home.jpg" alt="">
    </div>
  </section>

  {{> location }}

  {{> corona-home }}

  {{> maternity }}

  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Les établissements hospitaliers nord-vaudois</h1>
          <h2>Une association privée reconnue</h2>
          <p>Mauris placerat eu leo sed hendrerit. Torbi at metus placerat <a href="#">eu leo sed hendrerit</a>. vecop elit ultrices ullamcorper orbi at metus vel placerat eu leo sed. Torbi at metus placerat eu leo sed hendrerit. Metus placerat eu leo sed hendrerit.</p>
        </div>
      </div>
      <div class="spacer spacer-md"></div>
      <div class="col-md-8 col-md-offset-2 no-gutter">
        <div class="row">
          <div class="col-md-4">
            {{> button button-content="Call to action" }}
          </div>
          <div class="col-md-4">
            {{> button }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{> urgences-box }}

  {{> color-box-container subtitle="Les dernières actualités" }}

  <div class="container">

    <section class="cards">
      <div class="row">
        <div class="col-md-3">
          {{> filter }}
        </div>
        <div class="col-md-8 col-md-offset-1">
          {{> user-cards-list }}
        </div>
      </div>
    </section>
    <div class="spacer spacer-lg"></div>
    <div class="row">
      <div class="col-lg-6">
        {{> summary-box }}
      </div>
      <div class="col-lg-6">
        {{> summary-box }}
      </div>
    </div>
  </div>
  <div class="spacer"></div>

  {{> newsletter }}

  {{> social-box }}

  {{> footer }}
</div>
