{{> header }}

{{> breadcrumb }}

{{> cover portrait=false }}

<div class="spacer"></div>
<div class="container">
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="entry">
        {{> entry-title title="Un aide-infirmier à 60% (H/F)" subtitle="Réf. 12-060" }}
        <div class="entry-content">
          <h3>Compétences - Exigences Requises</h3>
          <ul>
            <li>Etre en possession d’une attestation CRS auxiliaire de santé (120h)</li>
            <li>Être au bénéfice d’une expérience professionnelle serait un atout</li>
            <li>Intérêt pour le travail en équipe</li>
            <li>Maîtrise de la langue française</li>
            <li>Flexibilité</li>
          </ul>
          <h3>Nous offrons</h3>
          <ul>
            <li>Une activité variée dans un environnement de travail permettant la mise en </li>valeur de vos compétences
            <li>Des possibilités de formation continue</li>
            <li>Un salaire selon le barème de la Fédération des Hôpitaux Vaudois (FHV)</li>
            <li>D’excellentes prestations sociales</li>
          </ul>
          <h3>Date d'entrée</h3>
          <p>De suite ou à convenir</p>
          <div class="spacer spacer-md"></div>
          <p>Des renseignements complémentaires peuvent être obtenus auprèsde M. U. Cautela, cadre de proximité, T. <a href="tel:004121 845 18 16">+41(0)21 845 18 16</a></p>
          <hr>
          <em>* MERCI D’INDIQUER LE NO RÉF. ET PAR QUEL BIAIS VOUS AVEZ EU CONNAISSANCE DE CETTE ANNONCE</em>
          <hr>
          <div class="text-center">
            <small>Agences de placement s'abstenir s.v.p.</small><br>
            <div class="spacer spacer-xs"></div>
            <a href="#" class="btn btn-primary">Postulez maintenant</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> social-box }}

{{> footer }}
