	{{> header }}

	{{> breadcrumb }}

	{{> cover portrait=false }}

  <div class="spacer"></div>
  <div class="container">
    <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <article class="news-detail">
        <header>
          <p class="meta"><span class="label label-default">Actualité</span> Publié le <time datetime="2016-08-19">19 août 2016</time></p>
          {{> entry-title title="Un robot nommé NAO entre en pédiatrie" }}
        </header>
        <div class="news-content">
         <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Sic exclusis sententiis reliquorum cum praeterea nulla esse possit, haec antiquorum valeat necesse est. Bestiarum vero nullum iudicium puto. In motu et in statu corporis nihil inest, quod animadvertendum esse ipsa natura ipsum dolor sit amet, consectetur adipiscing elit. Videmusne ut pueri ne verberibus quidem a contemplandis rebus perquirendisque deterreantur?</strong>
         </p>
         <h3>Prof Teneo, inquit</h3>
         <p>
          Erat enim res aperta. Teneo, inquit, finem illi videri nihil dolere. Duo Reges: constructio interrete. Et ille ridens: Video, inquit, quid agas; Prodest, inquit, mihi eo esse animo. Quae in controversiam veniunt, de iis, si placet, disseramus. Multoque hoc melius nos veriusque quam Stoici. Sit sane ista voluptas.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim de amicitia statueris utilitatis causa expetenda vides. Qui autem de summo bono dissentit de tota philosophiae ratione dissentit. Et quidem, inquit, vehementer errat; Quodsi ipsam honestatem undique pertectam atque absolutam. Duo Reges: constructio interrete. Huius, Lyco, oratione locuples, rebus ipsis ielunior</p>
          <h3>Sed do eiusmod tempor incididunt ut labore et</h3>
          <p>
            Non ea qui nobis. Quam modi eaque odio corrupti. Quis deleniti provident rerum voluptatem dolorem voluptas voluptate. Ab maxime molestias non eum aut quaerat. Ipsam at aliquam quas totam. Voluptas sint et rem consequuntur iusto officia. Dignissimos ut impedit labore modi ut commodi laboriosam. Dolorum quidem doloribus voluptates necessitatibus debitis dicta. Perferendis facilis non quod exercitationem hic eum amet. Culpa qui natus ipsum illo quas excepturi.
          </p>
        </div>
      </article>
      <div class="spacer"></div>
    </div>
  </div>
</div>

{{> gallery }}

<div class="spacer"></div>

<div class="greybg">
 {{> color-box-container summary=true subtitle="Les dernières actualités"}}
</div>


{{> social-box }}

{{> footer }}



