---
notes: |
  ##### Usage : `{{> background-box }}`
---
<div class="row d-flex">
  <div class="col-sm-6 d-flex">
    <div class="bg-dark-blue w-100">
      <h3 class="h2 font-weight-bold mt-0">Coordonnées</h3>
      <p>
        <a href="#">
          Rue de Plaisance 2<br />
          1400 Yverdon-les-Bains
        </a>
      </p>
      <a href="#" class="btn mb-0">Accès Google Maps</a>
    </div>
  </div>
  <div class="col-sm-6 d-flex">
    <div class="bg-light-blue w-100">
      <h3 class="h2 font-weight-bold mt-0">Contact</h3>
      <p>
        <a href="#">daisy@ehnv.ch</a><br />
        Tél. <a href="#">024 424 54 21</a><br />
        Fax 024 424 54 20
      </p>
      <p class="mb-0">
        Ouverture du lundi au vendredi, dès 7h du matin.
      </p>
    </div>
  </div>
</div>
