---
notes: |
  ##### Usage : `{{> card-list }}`
---

<div class="row">
  <div class="card-list">
    <div class="card-cell">
      {{> card format="square" card-title="Ouverture à Orbe"}}
    </div>
    <div class="card-cell">
      {{> card format="square" card-title="Ouverture à Orbe avec un très long titre" card-subtitle="www.adressedelapage.ch" }}
    </div>
    <div class="card-cell">
      {{> card format="square" card-title="Ouverture à Orbe"}}
    </div>
  </div>
</div>

