---
notes: |
  ##### Usage : `{{> card-duo }}`
---

<div class="row">
  <div class="card-duo">
    <div class="cell">
      {{> card format="square" card-title="Ouverture à Orbe"}}
    </div>
    <div class="cell">
      {{> card format="square" card-title="Ouverture à Orbe avec un très long titre" card-subtitle="www.adressedelapage.ch" }}
    </div>
  </div>
</div>

