---
notes: |
  ##### Usage : `{{> cover }}`
  ##### Options :
  - **portrait** - Bool
---
<div class="cover-container">
  <div class="cover">
    <div class="focuspoint"
    data-focus-x="0"
    data-focus-y="0"
    data-image-w="1440"
    data-image-h="468">
      <img src="/build/img/bg_cover.jpg" alt="">
      <img src="{{#unless fabricator}}../{{/unless}}build/img/bg_cover.jpg" alt="">
    </div>
  </div>
  {{#if portrait }}
  <div class="container">
   <div class="col-sm-2 col-md-push-2 col-sm-push-0 col-xs-4">
    {{> portrait }}
  </div>
  </div>
  {{/if}}
</div>
