---
notes: |
  ##### Usage : `{{> cover }}`
  ##### Options :
  - **portrait** - Bool
  - **portrait-url** - String
---
<div class="cover-container">
  <div class="cover" style="background: url({{#unless fabricator}}../{{/unless}}build/img/bg_cover_infinite.png) center center repeat-x; background-size: 99999% 100%">
    <img src="{{#unless fabricator}}../{{/unless}}build/img/bg_cover.png" alt="">
  </div>
  {{#if portrait }}
  <div class="container portrait-container">
    <div class="col-sm-4 col-md-3 col-md-push-2 col-sm-push-0 col-xs-5">
      {{> portrait portrait-url=portrait-url }}
    </div>
  </div>
  {{/if}}
</div>
