---
notes: |
  ##### Usage : `{{> doc-box }}`
---
<div class="doc-box">
  <span class="badge">48 médecins</span>
  <h3 class="h1 font-weight-bold text-dark-blue">Les médecins de DaisY</h3>
  <div class="spacer spacer-sm"></div>
  <a href="#" class="btn btn-primary mb-0">Consulter la liste</a>
</div>
