---
notes: |
##### Usage : `{{> download-list }}`
---
<div class="download-list">
  <div class="link">
  <span class="label lb-sm">zip</span> <a href="#" download="">Document 1 <i class="ehnvicon ehnvicon-download"></i></a>
  </div>
  <div class="link">
    <span class="label">pdf</span> <a href="#" download="">Document 1 <i class="ehnvicon ehnvicon-download"></i></a>
  </div>
  <div class="link">
    <span class="label">doc</span> <a href="#" download="">Document 1 <i class="ehnvicon ehnvicon-download"></i></a>
  </div>
</div>
