---
notes: |
    #### Usage : `{{> entry-footer }}`
---

<div class="entry-footer">
    <div class="row">
        <div class="col-md-6">
            {{> contact-infos title="Etablissement" }}


        </div>
        <div class="col-md-6">
            {{> contact-infos title="Contact" }}

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{> contact-infos title="Contact" }}

        </div>
    </div>
</div>
