---
notes: |
##### Usage : `{{> gallery }}`
---
<div class="gallery">
<div class="container">
  <div class="row">
     <div class="col-md-4">
      <img class="img-responsive" src="https://unsplash.it/350/350/?random" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="https://unsplash.it/350/350/?random" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="https://unsplash.it/350/350/?random" alt="">
    </div>
  </div>
  </div>
</div>
