---
notes: |
  ##### Usage : `{{> link-list }}`
  ##### Options :
  - **Title** - String
---
<div class="link-list">
    <h3>{{#if title}}{{ title }}{{^}}Nos liens{{/if}}</h3>
    <ul>
        <li>
            <a href="#">Anésthésiologie, réanimation et antalgie</a>
        </li>
        <li>
            <a href="#">Suscipit</a>
        </li>
        <li>
            <a href="#">Magnam</a>
        </li>
        <li>
            <a href="#">Suscipit</a>
        </li>
        <li>
            <a href="#">Odit enim aliquid molestias molestias</a>
        </li>
        <li>
            <a href="#">Dolorem perferendis ut quisquam</a>
        </li>
    </ul>
</div>
