---
notes: |
  ##### Usage : `{{> peoples }}`
---
<div class="peoples-container">
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_1@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong><br><small>Responsable communication</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_2@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_3@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_4@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_5@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_6@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_7@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_8@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_9@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_10@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_11@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_12@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_13@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_14@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_15@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_16@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_17@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_18@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_19@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_20@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_21@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong><br><small>Responsable communication</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_22@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_23@8x.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_Henri Germond.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_Michel Beetschen.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Ian Donati</strong></p>
  </div>
</div>
