---
notes: |
  ##### Usage : `{{> peoples }}`
---
<div class="peoples-container">
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_15@8x.png">
    <p><strong>Dr Bertrand Vuilleumier </strong><br><small>Président</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_1@8x.png">
    <p><strong>Jeannine Rainaud-Meylan</strong><br><small>Vice-présidente</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_Michel_Beetschen.png">
    <p><strong>Michel Beetschen</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_2@8x.png">
    <p><strong>Jean-Daniel Carrard</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_3@8x.png">
    <p><strong>Philippe Dépraz</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_4@8x.png">
    <p><strong>Isabelle Gay-Crosier</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_Henri_Germond.png">
    <p><strong>Henri Germond</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_5@8x.png">
    <p><strong>Vassilis Venizelos</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_6@8x.png">
    <p><strong>Jean-Claude Nicod</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_7@8x.png">
    <p><strong>Jacques Levaillant</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_8@8x.png">
    <p><strong>Christian Kramer</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_9@8x.png">
    <p><strong>Dr Philippe Hungerbuehler</strong></p>
  </div>

  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_10@8x.png">
    <p><strong>Catherine Zeiter</strong><br><small>Conseil de direction</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_11@8x.png">
    <p><strong>Jean-François Cardis</strong><br><small>Directeur général</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_12@8x.png">
    <p><strong>Pascal Cotter</strong><br><small>Directeur général adjoint</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_13@8x.png">
    <p><strong>Dr Julien Ombelli</strong><br><small>Directeur médical</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_14@8x.png">
    <p><strong>Christian Kordo</strong><br><small>Directrice des soins</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_20@8x.png">
    <p><strong>Laure Jagiello</strong><br><small>Directrice des soins</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_19@8x.png">
    <p><strong>Christophe Habisreutinger</strong><br><small>Directeur de la logistique hospitalière</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_18@8x.png">
    <p><strong>Nicolas Aubert</strong><br><small>Directeur administratif et financier</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_17@8x.png">
    <p><strong>Véronique Devenoge</strong><br><small>Responsable planification et financement</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_16@8x.png">
    <p><strong>Loïc Favre</strong><br><small>Responsable communication</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_21@8x.png">
    <p><strong>Véronique Gendre</strong><br><small>Responsable des ressources humaines</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_22@8x.png">
    <p><strong>Pierre-François Gérin</strong><br><small>Responsable qualité, sécurité et risques</small></p>
  </div>
  <div class="people">
    <img class="img-responsive" src="{{#unless fabricator}}../{{/unless}}build/img/comite/EHNV_Comite_23@8x.png">
    <p><strong>José Gil</strong><br><small>Responsable communication</small></p>
  </div>
</div>
