---
notes: |
  ##### Usage : `{{> peoples }}`
---
<div class="peoples-container">
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_1.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong><br><small>Responsable communication</small></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_2.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_3.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_4.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_5.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_6.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_7.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_8.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_9.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_10.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_11.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_12.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_13.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_14.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_15.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_16.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_17.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_18.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_19.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_20.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_21.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong><br><small>Responsable communication</small></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_22.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_23.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_24.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
  <div class="people">
    <img class="img-responsive img-circle" src="{{#unless fabricator}}../{{/unless}}build/img/comite/Image_25.png" alt="Alternative text">
    <div class="spacer spacer-xs"></div>
    <p><strong>Leander Mitschke</strong></p>
  </div>
</div>
