---
notes: |
  ##### Usage : `{{> search-box }}`
  ##### Options :
  - **right** - Boolean
  - **color** - String
  - **toggle-able** - Boolean
---

<div class="search-box {{#if toggle-able}}toggle-able{{/if}} {{color}} {{#if right}}right{{/if}}">
	<form class="search-form">
		<input class="text" type="text">
		<button class="submit" type="submit" value="Search"><i class="ehnvicon ehnvicon-search"></i>
        </button>
	</form>

</div>
