---
notes: |
  ##### Usage : `{{> secondary-nav }}`
  ##### Options :
  - **navbar** - Bool
  - **navbar-right** - Bool
---

<ul class="nav {{#if navbar}}navbar-nav{{/if}} {{#if navbar-right}}navbar-right{{/if}} secondary">
  {{#each nav.secondary }}
  <li>
    <a href="#">{{ this.label }}</a>
  </li>
  {{/each}}
</ul>
