---
  notes: |
  ##### Usage : `{{> side-nav }}`
---
<div class="side-nav">
  <div class="spacer spacer-xs"></div>
  <h3>Centres et hôpitaux</h3>
  <nav>
    <ul>
      <li><a href="#">Hôpital d'Yverdon</a></li>
      <li><a href="#">Hôpital d'Orbe</a></li>
      <li><a href="#">Hôpital de Chamblon</a></li>
      <li><a href="#">Hôpital de la Vallée de Joux</a></li>
      <li><a href="#">Hôpital de St-Loup</a></li>
      <li><a href="#">Centre DaisY</a></li>
      <li><a href="#">Permanence de Cossonay</a></li>
    </ul>
  </nav>
  <div class="spacer spacer-xs"></div>
</div>
