---
notes: |
  ##### Usage : `{{> summary-box }}`
---
<div href="#" class="summary-box">
  <div class="content">
    <a href="">
      <figure>
        <img src="https://unsplash.it/700/700/?random" alt="">
        <figcaption>
          Urgences d’Yverdon-les-bains
        </figcaption>
      </figure>

      <div href="#" class="summary-box-informations-link">Plus d'informations <i class="ehnvicon ehnvicon-arrow-right"></i></div>
    </a>
    <div class="spacer spacer-sm visible-xs-block visible-sm-block"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-sm-12 col-md-7">
          <div class="spacer spacer-sm"></div>
            <i class="ehnvicon ehnvicon-pin"></i>
            <p>
              <a href="#">
                Rue d'Entremonts 11<br>
                1400 Yverdon-les-bains
              </a>
            </p>
          <div class="spacer spacer-sm"></div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="spacer spacer-sm"></div>
            <i class="ehnvicon ehnvicon-phone"></i>
            <p>
              <a href="tel:0244244444">024 424 44 44</a><br>
              Réception 24/24
            </p>
          <div class="spacer spacer-sm"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer spacer-xl visible-xs-block"></div>
