---
notes: |
##### Usage : `{{> summary-box }}`
---
<div href="#" class="summary-box">
  <a class="figure" href="#" style="background: url(https://unsplash.it/700/700/?random) 50% 50% / cover"></a>
  <div class="content">
    <div class="informations">
      <div class="col-xs-12">
        <a href="#"><h2>Urgences d’Yverdon-les-bains</h2></a>
        <div class="row">
          <div class="col-sm-12">
            <div class="icon-container">
              <i class="ehnvicon ehnvicon-pin"></i>
            </div>
            <div class="text-container">
              <p>
                <a href="#">
                  Rue d'Entremonts 11<br>
                  1400 Yverdon-les-bains
                </a>
              </p>
            </div>
            <div class="spacer spacer-sm"></div>
          </div>
          <div class="col-sm-12">
            <div class="icon-container">
              <i class="ehnvicon ehnvicon-phone"></i>
            </div>
            <div class="text-container">
              <p>
                <a href="tel:0244244444">024 424 44 44</a><br>
                Réception 24/24
              </p>
            </div>
            <div class="spacer spacer-sm"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
