---
notes: |
  ##### Usage : `{{> table }}`
---
<table class="tablesaw" data-tablesaw-sortable data-tablesaw-mode="stack">
	<thead>
		<tr>
			<th data-tablesaw-sortable-col data-tablesaw-priority="persist">
				Titre <i class="ehnvicon ehnvicon-arrow-down"></i>
			</th>
			<th width="25%" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">
				Site <i class="ehnvicon ehnvicon-arrow-down"></i>
			</th>
			<th width="23%" data-tablesaw-sortable-col data-tablesaw-priority="2">
				Echéance <i class="ehnvicon ehnvicon-arrow-down"></i>
			</th>
			<th data-tablesaw-sortable-col data-tablesaw-priority="1">
				Taux <i class="ehnvicon ehnvicon-arrow-down"></i>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Un(e) infirmier(ère)
			</td>
			<td>
				<a href="#">Yverdon-les-Bains</a>
			</td>
			<td>
				1 Octobre 2016
			</td>
			<td>
				60%
			</td>
		</tr>
		<tr>
			<td>
				Un(e) secrétaire avec connaissance en informatique
			</td>
			<td>
				<a href="#">Grange-sous-Trey</a>
			</td>
			<td>
				1 avril 2016
			</td>
			<td>
				90%
			</td>
		</tr>
		<tr>
			<td>
				Un(e) directeur/directrice de la communication
			</td>
			<td>
				<a href="#">Grange-sous-Trey</a>
			</td>
			<td>
				1 avril 2016
			</td>
			<td>
				90%
			</td>
		</tr>
	</tbody>
</table>
<div class="spacer spacer-xl visible-xs-block"></div>
