---
notes: |
  ##### Usage : `{{> thumb-box-container }}`
  ##### Options :
  - **title** - String
---
<div class="thumb-box text-center">
  <img src="https://randomuser.me/api/portraits/women/36.jpg" alt="">
  <h1>{{#if title}}{{ title }}{{^}}Title{{/if}}</h1>
  <p>Mauris placerat eu leo sed hendrerit. Torbi at metus placerat.</p>
  {{> button button-content=title button-type="default"}}
</div>
