---
notes: |
  ##### Usage : `{{> user-cards-list }}`
---
<div class="row">
  <div class="user-cards-list">
  	{{#each users.medecins }}
      {{> user-card card-politesse=this.politesse card-name=this.name card-title=this.title card-portrait-url=this.portrait-url}}
  	{{/each}}
  </div>
</div>
<div class="spacer spacer-xl visible-xs-block"></div>
