---
notes: |
  ##### Usage : `{{> user-cards-list }}`
---
<div class="row">
  <div class="user-cards-list">
  	{{#each users.medecins }}
      <div class="col-sm-6">
      {{> user-card card-sexe=this.sexe card-name=this.name card-title=this.title card-portrait-url=this.portrait-url}}
      </div>
      <div class="spacer spacer-xs visible-xs-block"></div>
  	{{/each}}
  </div>
</div>
<div class="spacer spacer-xl visible-xs-block"></div>
