<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div class="visible-xs-block">
      <button type="button" class="btn toggle-mobile-nav" data-toggle="modal" data-target="#myModal"><i class="ehnvicon ehnvicon-nav"></i>
      </button>
      
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn toggle-mobile-nav" data-dismiss="modal"><i class="ehnvicon ehnvicon-close"></i></button>
            </div>
            <div class="modal-body">
              <ul class="nav  main">
                <li  >
                  <a href="#" >Urgences </a>
                </li>
                <li  >
                  <a href="#" >Patient </a>
                </li>
                <li  >
                  <a href="#" >Visiteur </a>
                </li>
                <li  >
                  <a href="#" >Médecins &amp; spécialités </a>
                </li>
                <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organisation <i class="ehnvicon ehnvicon-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Le conseil de direction</a></li>
                      <li><a href="#">L&#x27;association</a></li>
                      <li><a href="#">Offrir son aide</a></li>
                      <li><a href="#">Transparence et qualité</a></li>
                      <li><a href="#">Les eHnv du futur</a></li>
                    </ul>
                </li>
                <li  >
                  <a href="#" >Actualités </a>
                </li>
              </ul>        <ul class="nav   secondary">
                <li>
                  <a href="#">Presse</a>
                </li>
                <li>
                  <a href="#">Professionnels</a>
                </li>
                <li>
                  <a href="#">Emplois</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>      </div>
            <div class="modal-footer">
              <div class="search-box  white ">
              	<form class="search-form">
              		<input class="text" type="text">
              		<button class="submit" type="submit" value="Search"><i class="ehnvicon ehnvicon-search"></i>
                      </button>
              	</form>
              
              </div>      </div>
      
          </div>
        </div>
      </div></div>
    
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-default" role="navigation">
          <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-5">
              <div class="navbar-header">
                <a href="">
                  <img
                  class="img-responsive hidden-xs hidden-sm"
                  src="../build/svg/logo_eHnv_full.svg"
                  alt="eHnv - Etablissements Hospitaliers du Nord Vaudois."
                  onerror="this.onerror=null; this.src='../build/img/logo_eHnv_full.png'" >
                  <img
                  class="img-responsive visible-xs-block visible-sm-block"
                  src="../build/svg/logo_eHnv_redux.svg"
                  alt="eHnv - Etablissements Hospitaliers du Nord Vaudois."
                  onerror="this.onerror=null; this.src='../build/img/logo_eHnv_redux.png'" >
                </a>
              </div>
            </div>
            <div class="col-lg-5 col-lg-offset-3 col-md-6 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-offset-3 hidden-xs">
              <div class="collapse navbar-collapse">
                <div class="row">
                  <ul class="nav navbar-nav navbar-right secondary">
                    <li>
                      <a href="#">Presse</a>
                    </li>
                    <li>
                      <a href="#">Professionnels</a>
                    </li>
                    <li>
                      <a href="#">Emplois</a>
                    </li>
                    <li>
                      <a href="#">Contact</a>
                    </li>
                  </ul>            </div>
                <div class="row">
                  <div class="search-box toggle-able  right">
                  	<form class="search-form">
                  		<input class="text" type="text">
                  		<button class="submit" type="submit" value="Search"><i class="ehnvicon ehnvicon-search"></i>
                          </button>
                  	</form>
                  
                  </div>            </div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="collapse navbar-collapse" id="collapse-nav">
              <ul class="nav navbar-nav main">
                <li  >
                  <a href="#" >Urgences </a>
                </li>
                <li  >
                  <a href="#" >Patient </a>
                </li>
                <li  >
                  <a href="#" >Visiteur </a>
                </li>
                <li  >
                  <a href="#" >Médecins &amp; spécialités </a>
                </li>
                <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organisation <i class="ehnvicon ehnvicon-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Le conseil de direction</a></li>
                      <li><a href="#">L&#x27;association</a></li>
                      <li><a href="#">Offrir son aide</a></li>
                      <li><a href="#">Transparence et qualité</a></li>
                      <li><a href="#">Les eHnv du futur</a></li>
                    </ul>
                </li>
                <li  >
                  <a href="#" >Actualités </a>
                </li>
              </ul>        </div>
          </div>
        </nav>
      </div>
    </header>
<div class="greybg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#"><i class="ehnvicon ehnvicon-home"></i></a></li>
          <i class="ehnvicon ehnvicon-arrow-right"></i>
          <li><a href="#">Médecins & spécialités</a></li>
          <i class="ehnvicon ehnvicon-arrow-right"></i>
          <li class="active">Dr Andrea Casarie</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="cover-container">
  <div class="cover">
    <div class="focuspoint"
    data-focus-x="0"
    data-focus-y="0"
    data-image-w="1440"
    data-image-h="468">
      <img src="../build/img/bg_cover.jpg" alt="">
    </div>
  </div>
</div>
<div class="doctors">
  <div class="spacer"></div>
  <div class="container">
    <section class="cards">
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <h1>Médecins et spécialités</h1>
          <p>Les eHnv ce sont 600 docteurs, <a href="#">50 spécialités</a>, <a href="#">10 établissements</a>.</p>
        </div>
      </div>
      <div class="spacer spacer-sm"></div>
      <div class="row">
        <div class="col-md-3">
          <div class="filter">
            <a role="button" data-toggle="collapse" href="#collapse-input-group" aria-expanded="false" aria-controls="collapse-input-group" class="toggle-collapse collapsed">
              <h2>Rechercher un médecin <i class="ehnvicon ehnvicon-arrow-down"></i></h2>
            </a>
            <div class="collapse" id="collapse-input-group">
              <div class="input-group">
                    <input type="text" class="form-control" placeholder="Rechercher">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button">Ok</button>
                    </span>
              </div>  </div>
          
            <div class="spacer"></div>
          
            <a role="button" data-toggle="collapse" href="#collapse-tags-select" aria-expanded="false" aria-controls="collapse-tags-select" class="toggle-collapse collapsed">
              <h2>Filtrer par spécialité <i class="ehnvicon ehnvicon-arrow-down"></i></h2>
            </a>
            <div class="collapse" id="collapse-tags-select">
              <select class="form-control tags-select" multiple="multiple">
                <option value="">Pédiatrie</option>
                <option value="">Option 1</option> te
                <option value="">Option 2 </option>
              </select>  </div>
            <div class="spacer"></div>
          
            <a role="button" data-toggle="collapse" href="#collapse-checkbox" aria-expanded="false" aria-controls="collapse-checkbox" class="toggle-collapse collapsed">
              <h2>Filtrer par lieux <i class="ehnvicon ehnvicon-arrow-down"></i></h2>
            </a>
            <div class="collapse" id="collapse-checkbox">
              <div class="checkbox">
              	<label><input type="checkbox" value="" >&nbsp;Option 2</label>
              </div>    <div class="checkbox">
              	<label><input type="checkbox" value="" checked>&nbsp;Option 18</label>
              </div>  </div>
          
            <div class="spacer"></div>
          
            <a href="#" class="btn btn-default btn-block" role="button">Désactiver les filtres</a>  <div class="spacer"></div>
            <div class="spacer spacer-xl visible-xs-block"></div>
          
          </div>        </div>
        <div class="col-md-8 col-md-offset-1">
          <div class="row">
            <div class="user-cards-list">
                <div class="col-sm-6">
                <a href="#" class="user-card">
                  <i class="ehnvicon ehnvicon-long-arrow-right"></i>
                
                  <div class="vignette">
                      <div class="placeholder">
                        <i class="ehnvicon ehnvicon-placeholder-f"></i>
                      </div>  </div>
                  <div class="user-card-infos">
                    <h3>Jacqueline Robin</h3>
                    <p>Pédiatrie</p>
                  </div>
                </a>      </div>
                <div class="spacer spacer-xs visible-xs-block"></div>
                <div class="col-sm-6">
                <a href="#" class="user-card">
                  <i class="ehnvicon ehnvicon-long-arrow-right"></i>
                
                  <div class="vignette">
                      <img src="https://randomuser.me/api/portraits/women/32.jpg" alt="">
                  </div>
                  <div class="user-card-infos">
                    <h3>Dr Nishantan Popol Antonipillaï</h3>
                    <p>Vitae</p>
                  </div>
                </a>      </div>
                <div class="spacer spacer-xs visible-xs-block"></div>
                <div class="col-sm-6">
                <a href="#" class="user-card">
                  <i class="ehnvicon ehnvicon-long-arrow-right"></i>
                
                  <div class="vignette">
                      <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
                  </div>
                  <div class="user-card-infos">
                    <h3>Mathilde Toussaint</h3>
                    <p>Vitae</p>
                  </div>
                </a>      </div>
                <div class="spacer spacer-xs visible-xs-block"></div>
                <div class="col-sm-6">
                <a href="#" class="user-card">
                  <i class="ehnvicon ehnvicon-long-arrow-right"></i>
                
                  <div class="vignette">
                      <div class="placeholder">
                        <i class="ehnvicon ehnvicon-placeholder-m"></i>
                      </div>  </div>
                  <div class="user-card-infos">
                    <h3>Gabriel Reynaud</h3>
                    <p>Pédiatrie</p>
                  </div>
                </a>      </div>
                <div class="spacer spacer-xs visible-xs-block"></div>
                <div class="col-sm-6">
                <a href="#" class="user-card">
                  <i class="ehnvicon ehnvicon-long-arrow-right"></i>
                
                  <div class="vignette">
                      <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
                  </div>
                  <div class="user-card-infos">
                    <h3>Aimée Simon</h3>
                    <p>Vitae</p>
                  </div>
                </a>      </div>
                <div class="spacer spacer-xs visible-xs-block"></div>
                <div class="col-sm-6">
                <a href="#" class="user-card">
                  <i class="ehnvicon ehnvicon-long-arrow-right"></i>
                
                  <div class="vignette">
                      <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="">
                  </div>
                  <div class="user-card-infos">
                    <h3>Mathilde Toussaint</h3>
                    <p>Vitae</p>
                  </div>
                </a>      </div>
                <div class="spacer spacer-xs visible-xs-block"></div>
            </div>
          </div>
          <div class="spacer spacer-xl visible-xs-block"></div>          <div class="text-center">
            <ul class="pagination">
              <li>
            	  <a href="#">
            	  	<i class="ehnvicon ehnvicon-double-arrow-right arrow-left"></i>
            	  </a>
              </li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              	<li><a href="#">4</a></li>
              	<li><a href="#">5</a></li>
              	<li><a href="#">6</a></li>
              	<li><a href="#">7</a></li>
            
              <li><a href="#">8</a></li>
              <li>
            	  <a href="#">
            	  	<i class="ehnvicon ehnvicon-double-arrow-right"></i>
            	  </a>
              </li>
            </ul>          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="spacer"></div>
  <footer class="footer">
  	<div class="content">
  
  
  		<div class="container">
        <div class="row">
    			<div class="col-sm-7">
    				<h1>Tenez-vous informé des dernières nouvelles de la <b>eHnv</b> en vous inscrivant à notre <b>newsletter</b> !</h1>
    				<p>Consultez <a href="#">les dernières éditions</a> de notre newsletter mensuelle.</p>
    				<div class="input-group email-input">
    				<input type="email" class="form-control" placeholder="Votre E-mail">
    					<span class="input-group-btn">
    						<button class="btn btn-primary" type="button">S’inscrire</button>
    					</span>
    				</div>  			</div>
    			<div class="col-sm-4 col-sm-offset-1 text-xs-center">
            <div class="spacer spacer-xl visible-xs-block"></div>
            <h3 class="media-heading">Retrouvez les eHnv sur&nbsp;LinkedIn.</h3>
    				<a href="#" target="_blank" class="social-link"><i class="ehnvicon ehnvicon-linkedin"></i></a>  			</div>
    			<div class="col-sm-12">
    				<hr>
    			</div>
    			<div class="col-sm-12">
    				<ul class="list-link">
            <li><a href="">Hôpital de la Vallée</a></li>
            <li><a href="">Hôpital de St-Loup</a></li>
            <li><a href="">Hôpital d’Yverdon-les-Bains</a></li>
  					<li><a href="">Centre de chirurgie ambulatoire (DaisY)</a></li>
  					<li><a href="">Centre d'obésité et de chirurgie bariatrique</a></li>
  					<li><a href="">Centre Vaudois de boulimie et d’Anorexie</a></li>
  					<li><a href="">Centre de traitement et de réadaptation de Chamblon </a></li>
  					<li><a href="">Centre de traitement et de réadaptation de d'Orbe</a></li>
            <li><a href="">Permanence médicale de Cossonay</a></li>
            <li><a href="">Permanence médicale d’Orbe</a></li>
    				</ul>
    			</div>
        </div>
  		</div>
  	</div>
  
  
  </footer></div>


    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.js"></script>
  </body>
</html>
