<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./../build/css/vendors.min.css">
    <link rel="stylesheet" href="./../build/css/main.css">

    <script>
      (function(d) {
        var config = {
          kitId: 'xld7vod',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!--[if lt IE 9]>
      <script src="./../build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div class="visible-xs-block">
      <button type="button" class="btn toggle-mobile-nav" data-toggle="modal" data-target="#myModal"><i class="ehnvicon ehnvicon-nav"></i>
      </button>
      
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn toggle-mobile-nav" data-dismiss="modal"><i class="ehnvicon ehnvicon-close"></i></button>
            </div>
            <div class="modal-body">
              <ul class="nav  main">
                <li  >
                  <a href="#" >Urgences </a>
                </li>
                <li  >
                  <a href="#" >Patient </a>
                </li>
                <li  >
                  <a href="#" >Visiteur </a>
                </li>
                <li  >
                  <a href="#" >Médecins &amp; spécialités </a>
                </li>
                <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organisation <i class="ehnvicon ehnvicon-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Le conseil de direction</a></li>
                      <li><a href="#">L&#x27;association</a></li>
                      <li><a href="#">Offrir son aide</a></li>
                      <li><a href="#">Transparence et qualité</a></li>
                      <li><a href="#">Les eHnv du futur</a></li>
                    </ul>
                </li>
                <li  >
                  <a href="#" >Actualités </a>
                </li>
              </ul>        <ul class="nav   secondary">
                <li>
                  <a href="#">Presse</a>
                </li>
                <li>
                  <a href="#">Professionnels</a>
                </li>
                <li>
                  <a href="#">Emplois</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>      </div>
            <div class="modal-footer">
              <div class="search-box  white ">
              	<form class="search-form">
              		<input class="text" type="text">
              		<button class="submit" type="submit" value="Search"><i class="ehnvicon ehnvicon-search"></i>
                      </button>
              	</form>
              
              </div>      </div>
      
          </div>
        </div>
      </div></div>
    
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-default" role="navigation">
          <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-8">
              <div class="navbar-header">
                <a href="">
                  <img
                  class="img-responsive"
                  src="../build/svg/logo_eHnv_full.svg"
                  alt="eHnv - Etablissements Hospitaliers du Nord Vaudois."
                  onerror="this.onerror=null; this.src='../build/img/logo_eHnv_full.png'" >
                </a>
              </div>
            </div>
            <div class="col-md-7 col-sm-8 hidden-xs">
              <div class="collapse navbar-collapse">
                <div class="row">
                  <ul class="nav navbar-nav navbar-right secondary">
                    <li>
                      <a href="#">Presse</a>
                    </li>
                    <li>
                      <a href="#">Professionnels</a>
                    </li>
                    <li>
                      <a href="#">Emplois</a>
                    </li>
                    <li>
                      <a href="#">Contact</a>
                    </li>
                  </ul>            </div>
                <div class="row">
                  <div class="search-box toggle-able  right">
                  	<form class="search-form">
                  		<input class="text" type="text">
                  		<button class="submit" type="submit" value="Search"><i class="ehnvicon ehnvicon-search"></i>
                          </button>
                  	</form>
                  
                  </div>            </div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="collapse navbar-collapse" id="collapse-nav">
              <ul class="nav navbar-nav main">
                <li  >
                  <a href="#" >Urgences </a>
                </li>
                <li  >
                  <a href="#" >Patient </a>
                </li>
                <li  >
                  <a href="#" >Visiteur </a>
                </li>
                <li  >
                  <a href="#" >Médecins &amp; spécialités </a>
                </li>
                <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organisation <i class="ehnvicon ehnvicon-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Le conseil de direction</a></li>
                      <li><a href="#">L&#x27;association</a></li>
                      <li><a href="#">Offrir son aide</a></li>
                      <li><a href="#">Transparence et qualité</a></li>
                      <li><a href="#">Les eHnv du futur</a></li>
                    </ul>
                </li>
                <li  >
                  <a href="#" >Actualités </a>
                </li>
              </ul>        </div>
          </div>
        </nav>
      </div>
    </header>
<div class="greybg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#"><i class="ehnvicon ehnvicon-home"></i></a></li>
          <i class="ehnvicon ehnvicon-arrow-right"></i>
          <li><a href="#">Médecins & spécialités</a></li>
          <i class="ehnvicon ehnvicon-arrow-right"></i>
          <li class="active">Dr Andrea Casarie</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="facility-detail">
  <div class="container">
    <div class="spacer spacer-md"></div>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-xs-5 col-sm-3">
            <img src="https://via.placeholder.com/480" class="img-responsive" alt="ALT">
            <div class="spacer spacer-md"></div>
          </div>
        </div>

        <header class="entry-title">
          <h1>Hôpital d'Yverdon-les-Bains</h1>
        </header>

        <p>Et ut in facilis minima qui perspiciatis harum. Adipisci ut deserunt et velit. Provident et quos ullam est reprehenderit et facilis. Autem numquam nostrum autem consequuntur similique sint.</p>

        <p>Et ut in facilis minima qui perspiciatis harum. Adipisci ut deserunt et velit. Provident et quos ullam est reprehenderit et facilis. Autem numquam nostrum autem consequuntur similique sint.</p>
      </div>
    </div>

    <div class="spacer"></div>
    <div class="row d-flex">
      <div class="col-sm-6 d-flex">
        <div class="bg-dark-blue w-100">
          <h3 class="h2 font-weight-bold mt-0">Coordonnées</h3>
          <p>
            <a href="#">
              Rue de Plaisance 2<br />
              1400 Yverdon-les-Bains
            </a>
          </p>
          <a href="#" class="btn mb-0">Accès Google Maps</a>
        </div>
      </div>
      <div class="col-sm-6 d-flex">
        <div class="bg-light-blue w-100">
          <h3 class="h2 font-weight-bold mt-0">Contact</h3>
          <p>
            <a href="#">daisy@ehnv.ch</a><br />
            Tél. <a href="#">024 424 54 21</a><br />
            Fax 024 424 54 20
          </p>
          <p class="mb-0">
            Ouverture du lundi au vendredi, dès 7h du matin.
          </p>
        </div>
      </div>
    </div>    <div class="spacer"></div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <h3 class="h1 font-weight-bold text-dark-blue">Nos prestations</h3>

        <p class="lead text-light-blue font-weight-normal">Voluptatem ducimus laborum quibusdam aut qui occaecati. Iste minima voluptatem commodi. Et doloribus qui natus omnis cum. Est sit odit delectus et possimus in. Dolorem officia eos fugiat occaecati placeat quia. Et harum voluptatem exercitationem et numquam aut. Cumque dolor autem maiores aut soluta.</p>

        <p>Voluptatem ducimus laborum quibusdam aut qui occaecati. Iste minima voluptatem commodi. Et doloribus qui natus omnis cum. Est sit odit delectus et possimus in. Dolorem officia eos fugiat occaecati placeat quia. Et harum voluptatem exercitationem et numquam aut. Cumque dolor autem maiores aut soluta.</p>

        <div class="spacer spacer-sm"></div>
        <a href="#" class="btn btn-primary">Découvrir nos prestations</a>

        <div class="spacer"></div>

        <h3 class="h1 font-weight-bold text-dark-blue">Parking</h3>
        <p>Voluptatem ducimus laborum quibusdam aut qui occaecati. Iste minima voluptatem commodi. Et doloribus qui natus omnis cum. <strong>Est sit odit delectus</strong> et possimus in. Dolorem officia eos fugiat occaecati <a href="">placeat quia</a>. Et harum voluptatem exercitationem et numquam aut. Cumque dolor autem maiores aut soluta.</p>


        <div class="spacer"></div>
        <div class="doc-box">
          <span class="badge">48 médecins</span>
          <h3 class="h1 font-weight-bold text-dark-blue">Les médecins de DaisY</h3>
          <div class="spacer spacer-sm"></div>
          <a href="#" class="btn btn-primary mb-0">Consulter la liste</a>
        </div>        <div class="spacer"></div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>

<footer class="footer">
	<div class="content">
		<div class="container">
      <div class="row">
  			<div class="col-sm-7">
  				<h1>Tenez-vous informé des dernières nouvelles de la <b>eHnv</b> en vous inscrivant à notre <b>newsletter</b> !</h1>
  				<p>Consultez <a href="#">les dernières éditions</a> de notre newsletter mensuelle.</p>
  				<div class="input-group email-input">
  				<input type="email" class="form-control" placeholder="Votre E-mail">
  					<span class="input-group-btn">
  						<button class="btn btn-default" type="button">S’inscrire</button>
  					</span>
  				</div>  			</div>
  			<div class="col-sm-4 col-sm-offset-1 text-xs-center">
          <div class="spacer spacer-xl visible-xs-block"></div>
          <h3 class="media-heading">Retrouvez les eHnv sur&nbsp;LinkedIn.</h3>
  				<a href="#" target="_blank" class="social-link"><i class="ehnvicon ehnvicon-linkedin"></i></a>  			</div>
  			<div class="col-sm-12">
  				<hr>
  			</div>
  			<div class="col-sm-12">
  				<ul class="list-link">
          <li><a href="">Hôpital de la Vallée</a></li>
          <li><a href="">Hôpital de St-Loup</a></li>
          <li><a href="">Hôpital d’Yverdon-les-Bains</a></li>
					<li><a href="">Centre de chirurgie ambulatoire (DaisY)</a></li>
					<li><a href="">Centre d'obésité et de chirurgie bariatrique</a></li>
					<li><a href="">Centre Vaudois de boulimie et d’Anorexie</a></li>
					<li><a href="">Centre de traitement et de réadaptation de Chamblon </a></li>
					<li><a href="">Centre de traitement et de réadaptation de d'Orbe</a></li>
          <li><a href="">Permanence médicale de Cossonay</a></li>
          <li><a href="">Permanence médicale d’Orbe</a></li>
  				</ul>
  			</div>
      </div>
		</div>
	</div>


</footer>


    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script src="./../build/js/vendors.min.js"></script>
    <script src="./../build/js/main.js"></script>
  </body>
</html>
